.add_btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--light_primary);
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 1s;
}
@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 1s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 1s;
  }
}
