.footer_container {
  display: flex;
  background: var(--sec);
  width: 100%;
  height: 60px;
  padding-block: 10px;
  padding-inline: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer_text {
  font-size: 16px;
  font-weight: 400;
}
.footer_text span {
  transition: 0.3s;
}
.footer_text span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer_link_wrapper {
  gap: 8px;
  display: flex;
}
.footer_link {
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 4px;
  color: #fff;
}
a{
    color: #fff;
    text-decoration: none;
}
.t:hover {
  background-color: #1da1f2;
  color: white;
}
.g:hover {
  background-color: #171515;
  color: white;
}
.i:hover {
  background-color: #e1306c;
  color: white;
}

@media screen and (max-width: 860px) {
  .footer_container {
    height: auto;
    flex-direction: column-reverse;
    gap: 8px;
    align-items: flex-start;
  }
  .footer_text {
    font-size: 13px;
  }
}
