.footer_container{
    display: flex;
    background: var(--sec);
    width: 100%;
    position: absolute;
    height: 60px;
    bottom:0px;
    padding-block: 10px;
    padding-inline:20px;
    align-items: center;
    justify-content: space-between;
}
.footer_text{
    font-size: 14px;
    font-weight: 400;
}
@media screen and (max-width: 860px){
    .footer_container{
        height: auto;

        flex-direction: column-reverse;
        gap:8px;
        align-items: flex-start;

    }
    .footer_text{
        font-size: 13px;
    }

}