*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
:root{
   --bgcolor:#2C3333;
   --primary:#703EFF;
   --light_primary:#8960fc;
   --white:rgb(255, 255, 255);
   --dark_white:#efefef;
   --black:#000;
   --light_gray:#afafaf;
   --gray:grey;
   --overlay:rgba(0,0,0,0.5);
   --hover:#364051;
   --sec:#2C3639
}
body{
    background-color: var(--bgcolor);
    font-family: 'Poppins', sans-serif !important;
    color:var(--white);
}
a{
    text-decoration: none;
}
