* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  color: var(--white);
}
:root {
  --bgcolor: #2c3333;
  --primary: #703eff;
  --light_primary: #8960fc;
  --white: rgb(255, 255, 255);
  --dark_white: #efefef;
  --black: #000;
  --light_gray: #afafaf;
  --gray: grey;
  --overlay: rgba(0, 0, 0, 0.5);
  --hover: #364051;
  --sec: #2c3639;
  --input: #3a474b;
  --tiny-font-size: 0.625rem;
  --border: rgba(128, 128, 128, 0.308);
  --shine: rgba(141, 141, 141, 0.39);
  --dim_gray: #9c9b98;
}
body {
  background-color: var(--bgcolor);
  font-family: "Poppins", sans-serif !important;
  color: var(--white);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.last_text_con {
  text-align: center;
  margin-block: 8px;
}
.last_text {
  font-size: 16px;
  color: var(--dim_gray);
}
.top_text_con {
  margin-top: 10px;
  margin-inline: 10px;
  border: 1px solid var(--border);
  justify-content: center;
  align-items: center;
  display: flex;
  width:75px;
  border-radius: 100vw;
  padding-left: 6px;
  padding-block: 1px;
  transition: 0.3s;
}
.top_text_con:hover{
  background-color: var(--hover);
  cursor: pointer;
}
