.hero_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_wrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
}
.hero_top {
  text-align: center;
  margin-top: 15vh;
  padding-inline: 10px;
}
.hero_heading {
  font-size: clamp(2.5rem,8vw,4rem);
}
.text_logo {
  background: linear-gradient(45deg,#8E54E9,#00D7FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_bottom {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding-inline: 10px;
  }
.hero_sub_heading {
  font-size: clamp(17px,5vw,20px);
  line-height: 30px;
}
