.hero_container {
  height: 80vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.hero_wrapper {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
}
.hero_top {
  text-align: center;
  padding-inline: 10px;
}
.hero_heading {
  font-size: clamp(2.5rem,8vw,4rem);
}
.text_logo {
  background: linear-gradient(45deg,#8E54E9,#00D7FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_bottom {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding-inline: 10px;
  }
.hero_sub_heading {
  font-size: clamp(17px,5vw,20px);
  line-height: 30px;
}
.hero_btn_con{
  margin-block: 40px;
  display: flex;
  justify-content: center;
  gap:14px
}
.hero_try{
  display: flex;
  justify-content: center;
  align-items: center;
  width:150px;
  height: 45px;
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  border-radius:5px;
  transition: 0.3s;
}
.hero_try:hover{
  background-color: var(--light_primary);
}
.hero_btn_text{
  color: var(--white);
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;
}
.hero_github{
  width:120px;
  height: 45px;
  cursor: pointer;
  border: none;
  background-color: var(--input);
  border-radius:5px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_github:hover{
  background-color: var(--shine);
}
