.layout{
    margin-top: 80px;
    margin-inline: 10px;
    display: flex;
    flex-direction: row;
    gap:10px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid red;
    flex:3;
    background:var(--sec);
}
.other{
    border:1px solid blue;
    flex:1.2;
    background:var(--sec);
}