.layout {
  position: relative;
  margin-inline: 10px;
  margin-block: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.main {
  display: flex;
  flex: 3;
  background: var(--sec);
  height: auto;
  border-radius: 10px;
  flex-direction: column;
}
.other {
  flex: 1.4;
  background: var(--sec);
  height: 85vh;
  position: sticky;
  border-radius: 10px;
  top: 80px;
}
@media screen and (max-width: 872px) {
  .other {
    flex: 1.7;
  }
  .layout {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 576px) {
  .other {
    display: none;
  }
  .layout {
    margin-bottom: 70px;
  }
}
