.layout{
    margin-top: 80px;
    margin-inline: 10px;
    display: flex;
    flex-direction: row;
    gap:10px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid red;
    flex:3;
    background:var(--sec);
    /* height:100vh */
}
.other{
    border:1px solid blue;
    flex:1.4;
    background:var(--sec);
}
@media screen and (max-width: 872px) {
    .other{
        flex:1.7
    }
}
@media screen and (max-width: 576px) {
    .other{
        display: none;
    }
}
