
.modal_top{
    display: flex;
    flex-direction: row;
}
.close{
    position:absolute;
    top:5px;
    right:10px;
    cursor: pointer;
}
.modal_text {
  font-size: 25px;
  font-weight: 500;
  color: var(--white);
  margin-left: -5px;
}
.signin {
  border: none;
  padding: 8px;
  margin-block: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap:5px;
  transition: 0.1s;
  color: var(--gray);
}
.signin:hover{
    background-color:var(--dark_white);
}
