.search_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
    border-bottom:0.5px solid var(--border);
}
.search_input{
    width:80%;
    outline:none;
    border:none;
    padding-block:10px;
    padding-inline: 17px;
    border-top-left-radius: 100vw;
    border-bottom-left-radius: 100vw;
    font-size: 18px;
    color:var(--white);
    background-color:var(--bgcolor);
}
.search_input::placeholder{
    color:var(--light_gray);
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif !important;
}
.searchbtn{
    width:min(50px,15%);
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    color: var(--white);
    background-color: var(--primary);
    height:40.67px;
    border-top-right-radius: 100vw;
    border-bottom-right-radius: 100vw;
    cursor: pointer;
    transition: 0.1s;
}
.searchbtn:hover{
  background-color: var(--light_primary);
}
.nosearch_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    gap:2px
}
.nosearch_text{
    font-size: 20px;
}