.sidebar{
    background-color: var(--sec);
    width:200px;
    height:100%;
    margin-top: 80px;
    position: fixed;
    margin-left: 10px;
    border-radius: 10px;

}
.sidebar ul{
    margin-top:8px
}
.active{
    color: var(--primary) !important;
    border-right: 1.5px solid var(--primary);
}
.sidebar ul a{
    align-items: center;
    gap:5px;
    display: flex;
    height: 40px;
    width: 100%;
    line-height: 35px;
    font-size: 15px;
    padding-left: 20px;
    box-sizing: border-box;
    font-weight: 400;
    transition: .1s;
    color: var(--white);
}
ul li:hover a{
    background-color: var(--hover);
}

